terratowns_endpoint = "https://terratowns.cloud/api"
home01 = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/home_01"
  content_version = 1
}
home02 = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/home_02"
  content_version = 2
}